body {
    margin: 0;
}

.color-bar {
    border-bottom: 3px solid rgba(0, 0, 0, .1);
    color: #FFF;
    font-family: Consolas, monospace;
    text-shadow: 0 0 3px #000;

    height: 6.25vh;
    box-sizing: border-box;
    line-height: 6.25vh;
    text-align: center;
}

.color-bar.white {
    background-color: #FFF;
    color: #000;
    text-shadow: none;
}

.color-bar.black {
    background-color: #333;
}

.color-bar.blue {
    background-color: #002FA7;
}

.color-bar.green {
    background-color: #009900;
}

.color-bar.light-red {
    background-color: #CC0000;
}

.color-bar.brown {
    background-color: #7A371E;
}

.color-bar.purple {
    background-color: #800080;
}

.color-bar.orange {
    background-color: #D16F1F;
}

.color-bar.yellow {
    background-color: #C4A802;
}

.color-bar.light-green {
    background-color: #0BDA51;
}

.color-bar.cyan {
    background-color: #00CCCC;
}

.color-bar.light-cyan {
    background-color: #00FFFF;
}

.color-bar.light-blue {
    background-color: #1984ED;
}

.color-bar.pink {
    background-color: #F589BD;
}

.color-bar.gray {
    background-color: #808080;
}

.color-bar.light-gray {
    background-color: #BFC3BB;
}
